.IPODetails {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

.IPODetails:not(:first-of-type) {
  border-top: 2px dashed gray;
}

.IPODetails .details {

}

.IPODetails .detail {
  font-weight: bold;
}

.IPODetails .detail-value {
  margin-bottom: 10px;
  margin-left: 20px;
}
